* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    270deg,
    blue,
     red,
     blue,
    #a18cd1
  );
  background-size: 600% 600%;
  animation: gradientMove 12s ease infinite;
}

/* Animated gradient */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Floating bubbles */
.background span {
  position: absolute;
  bottom: -150px;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 70%;
  animation: floatUp 20s infinite ease-in;
}

/* Different sizes & speeds */
.background span:nth-child(1) {
  left: 10%;
  width: 40px;
  height: 40px;
  animation-duration: 12s;
}
.background span:nth-child(2) {
  left: 30%;
  width: 70px;
  height: 70px;
  animation-duration: 18s;
}
.background span:nth-child(3) {
  left: 50%;
  width: 50px;
  height: 50px;
  animation-duration: 14s;
}
.background span:nth-child(4) {
  left: 70%;
  width: 90px;
  height: 90px;
  animation-duration: 20s;
}
.background span:nth-child(5) {
  left: 85%;
  width: 35px;
  height: 35px;
  animation-duration: 10s;
}

@keyframes floatUp {
  from {
    transform: translateY(0) rotate(0deg);
  }
  to {
    transform: translateY(-120vh) rotate(360deg);
  }
}

/* Content */
.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
}

.content p {
  font-family: "Space Grotesk", sans-serif;
  margin: 15px 0;
  font-weight: 300;
  font-size: 1.2rem;
}
.image {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}
.image img {
  height: 200px;
  width: auto;
}
button {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: #fff;
  color: black;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}
@media (max-width: 600px) {

  .content h1 {
    font-size: 1.8rem;
  }
  .content p {
    font-size: 1rem;
    padding: 0 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  /* Reduce bubble sizes */
  .background span {
    width: 35px;
    height: 35px;
  }

  .background span:nth-child(2) {
    width: 45px;
    height: 45px;
  }

  .background span:nth-child(4) {
    width: 60px;
    height: 60px;
  }

}